/* React Calendar Styles */
.react-calendar {
    width: 450px; /* Adjust width as needed */
    max-width: 100%;
    background: white;
    border-radius: 0;
    border: 1px solid #D4AD6B; /* Border color */
    font-family: Manrope, Helvetica, sans-serif;
    line-height: 1.125em;
  }
  
  .react-calendar--doubleView {
    width: 700px; /* Adjust width as needed */
  }
  
  .react-calendar--doubleView .react-calendar__viewContainer {
    display: flex;
    margin: -0.5em;
  }
  
  .react-calendar--doubleView .react-calendar__viewContainer > * {
    width: 50%;
    margin: 0.5em;
  }
  
  /* Box-sizing and Reset */
  .react-calendar,
  .react-calendar *,
  .react-calendar *:before,
  .react-calendar *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  /* Custom Navigation Styles */
  @media screen and (max-width: 500px) {
    .react-calendar__navigation__prev2-button,
    .react-calendar__navigation__prev-button {
      display: none;
    }
    .react-calendar__navigation__label {
      padding-left: 1rem;
      text-align: left;
    }
  }
  
  /* Button Styles */
  .react-calendar button {
    margin: 0;
    border: 1px solid #D4AD6B; /* Border color */
    outline: none;
    background-color: transparent;
    color: #D4AD6B; /* Text color */
    cursor: pointer;
  }
  
  .react-calendar button:disabled {
    visibility: hidden;
  }
  
  .react-calendar__navigation {
    display: flex;
    height: 44px;
    margin-bottom: 1em;
  }
  
  .react-calendar__navigation button {
    min-width: 44px;
    background: none;
  }
  
  .react-calendar__navigation button:enabled:hover,
  .react-calendar__navigation button:enabled:focus {
    background-color: #fafafa; /* Button background color on hover/focus */
  }
  
  .react-calendar__navigation__arrow {
    background-color: #fff;
    padding: 7px;
    background-clip: content-box !important;
    border-radius: 50px;
    font-size: 1.25em;
  }
  
  .react-calendar__navigation__arrow:hover {
    background-color: #D4AD6B; /* Arrow background color on hover */
  }
  
  /* Weekdays Styles */
  .react-calendar__month-view__weekdays {
    color: #D4AD6B;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.8em;
  }
  
  /* Day Styles */
  .react-calendar__month-view__days__day {
    padding: 5px;
    background-clip: content-box !important;
    border-radius: 0; /* Remove border radius */
  }
  
  /* Label Styles */
  .react-calendar__navigation__label__labelText {
    font-weight: 500;
    font-size: 1.05em;
  }
  
  .react-calendar__navigation__label {
    pointer-events: none;
  }
  
  /* Today and Active Day Styles */
  .react-calendar__tile--now,
  .react-calendar__tile--active {
    background: #D4AD6B;
    color: white;
  }
  
  /* Hover and Focus Styles */
  .react-calendar__tile--now:hover,
  .react-calendar__tile--now:focus,
  .react-calendar__tile--active:hover,
  .react-calendar__tile--active:focus {
    background: #d8c28d; /* Background color on hover or focus */
  }
  
  /* Additional styles for time selection and form */
  /* Adjust as needed */
  