@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&family=Lato:wght@100;300;400;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    a {
      @apply cursor-pointer;
    }
    h1 {
      @apply text-[50px] font-bold;
    }
    h2 {
      @apply text-[2.5rem] font-bold;
    }
    p {
    }
    h3 {
    }
    h4 {
      @apply text-[1rem] font-semibold;
    }
    textarea {
    }
    input {
    }
    select {
    }
  }
  

* {
  /*font-family: 'Cormorant Garamond', serif; */
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overf
}

.recursive {
    font-family: 'Cormorant Garamond', serif;
}

.nav-item::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    margin-top: 5px;
    background-color: rgb(212, 173, 107);
    transition: width 0.4s;
  }
  
  .nav-item:hover::after {
    width: 100%;
  }